.main {
  flex-wrap: wrap;
  justify-content: space-between;
}

.spin {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translateX(-50%);
  display: none;
}
button {
  display: block;
  margin: auto;
  padding: 13px 25px;
  border: 2px solid black;
  border-radius: 13px;
  font-weight: bold;
  color: #fff;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(225,233,19,1) 34%, rgba(222,39,39,1) 100%);
}

.adder{
    margin: auto;
    text-align: center;
    width: fit-content;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 1px;
}
